doctype 5
html
  head
    title 企业微平台
    link(type='text/css',rel='stylesheet',href='css/bootstrap.min.css')
    script(type="text/javascript",src="js/jquery.1.10.2.min.js")
    script(type="text/javascript",src="js/bootstrap.min.js")



